<nav class="navbar navbar-dark knuut-bg-primary dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo_256.png" height="45" alt="Postinumerot logo" />
    Postinumerot
  </a>

  <ul class="nav">
    <li class="nav-item"><a class="nav-link" routerLink="/api">API</a></li>
  </ul>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="container-fluid fixed-bottom">
  <div class="mt-5">
    <small>&copy; <a href="https://jrajaniemi.github.io/">Jussi Rajaniemi</a></small><br />
    <small>Running <a href="https://angular.io">Angular</a> / Node.js / Heroku / 0.0.1.12</small>
  </div>
</footer>
